@import "reset.css";
@import "fonts.css";

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #000;
  /* вказано відступ від 50px до 20 */
  row-gap: min(max(20px, calc(20px + (50 - 20) * ((100vw - 320px) / (1270 - 320)))), 50px);
}

.page {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
/*====================================================================================================================================================*/

.header {
  padding: 20px;
  background-color: #196496;
}
.header h1 {
  /* розмір шрифту на мобілках 30px на ПК 50 */
  font-size: min(max(30px, calc(30px + (50 - 30) * ((100vw - 320px) / (1270 - 320)))), 50px);
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.styles__content {
  background-color: #f0f0f0;
  border-radius: 24px;
  padding: 50px 24px 50px;
}
.styles__title {
  font-family: "Integral CF", sans-serif;
  /* розмір на мобілках 32px на ПК 48 */
  font-size: min(max(32px, calc(32px + (48 - 32) * ((100vw - 320px) / (1270 - 320)))), 48px);
  font-weight: 700;
  text-align: center;
}
.styles__title:not(:last-child) {
  margin-bottom: 45px;
}

.styles__body {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 20px;
}

.styles_item {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}
.styles_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 310/190;
}

.styles__card-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  /* розмір на мобілках 24px на ПК 36 */
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1270 - 320)));
  font-size: min(max(24px, calc(24px + (36 - 24) * ((100vw - 320px) / (1270 - 320)))), 36px);
  padding: 16px 24px;
}

@media (min-width: 768px) {
  .styles__content {
    border-radius: 40px;
    padding: 70px 64px 76px;
  }
  .styles__body {
    grid-template-columns: repeat(2, 1fr);
  }
  .styles__title:not(:last-child) {
    margin-bottom: 64px;
  }
  .styles__card-title {
    padding: 25px 36px;
  }
}
@media (min-width: 980px) {
  .styles__body {
    grid-template-columns: minmax(280px, 407px) 1fr minmax(280px, 407px);
  }
  .styles_item:nth-child(4n + 1) img {
    aspect-ratio: 407/289;
  }

  .styles_item:nth-child(4n + 2) {
    grid-column: span 2;
  }
  .styles_item:nth-child(4n + 2) img {
    aspect-ratio: 684/289;
  }

  .styles_item:nth-child(4n + 3) {
    grid-column: span 2;
  }
  .styles_item:nth-child(4n + 3) img {
    aspect-ratio: 684/289;
  }

  .styles_item:nth-child(4n + 4) img {
    aspect-ratio: 407/289;
  }
}

.footer {
  padding: 20px;
  background-color: rgb(40, 150, 26);
}
.footer h2 {
  /* розмір шрифту на мобілках 30px на ПК 50 */
  font-size: min(max(30px, calc(30px + (50 - 30) * ((100vw - 320px) / (1280 - 320)))), 50px);
  text-align: center;
  font-weight: 700;
  color: #fff;
}
